.header {
    background-color: #0000ff;
    text-align: center;
    font-weight: bold;
}

.nav {
    background-color: #800080;
    text-align: center;
}

.main {
    background-color: #ffd700;
    width: 75%;
    height: 350px;
    float: left;
    font-weight: bold;
    text-align: center;
}

.aside {
    background-color: #808080;
    width: 25%;
    height: 350px;
    float: left;
    font-weight: bold;
    text-align: center;
}

.footer {
    background-color: #00ffff;
    text-align: center;
    font-weight: bold;
}